footer {
    background-color: #061631;
    padding: 20px;
    position: relative;
    width: 100%;
    color: white;
}

.footer-content {
    display: flex;
    align-items: flex-end;
    padding: 1rem;
}

.logo img {
    max-width: 150px;
}

.derechos {
    margin-left: 20px;
}

.derechos p {
    font-size: 14px;
    color: #ccc;
}
